@*
 * Copyright (c) gestaoaju.com.br - All rights reserved.
 * Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
 *@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="home">
    <div class="header">
        <div class="container">
            <div class="grid-row">
                <div class="grid-col small-6 medium-6 large-6">
                    <img src="/img/logo.png" alt="gestaoaju" asp-append-version="true" />
                    <p>
                        Aplicativo para gerenciar suas operações<br />
                        de compra, venda e aluguel.
                    </p>
                    <p>
                        <a href="/signin" class="as-button large bordered alizarin">
                            Acessar conta
                        </a>
                        <br /> ou
                        <a href="/signup" class="alizarin">
                            criar conta
                        </a>
                    </p>
                </div>
                <div class="grid-col small-6 medium-6 large-6">
                    <img src="/img/devices.png" alt="dispositivos" asp-append-version="true" />
                </div>
            </div>
        </div>
    </div>
    <div class="solutions">
        <div class="container">
            <h1 class="bordered">
                Soluções que temos para você
            </h1>
            <div class="grid-row">
                <div class="grid-col small-4 medium-4 large-4">
                    <img src="/img/solutions.png" class="stores-and-teams" asp-append-version="true" />
                    <p>
                        Controle de filiais<br />
                        e equipes de venda
                    </p>
                </div>
                <div class="grid-col small-4 medium-4 large-4">
                    <img src="/img/solutions.png" class="buying-selling-renting" asp-append-version="true" />
                    <p>
                        Vendas de produtos/serviços<br />
                        e contratos de aluguel
                    </p>
                </div>
                <div class="grid-col small-4 medium-4 large-4">
                    <img src="/img/solutions.png" class="financial-and-inventory" asp-append-version="true" />
                    <p>
                        Financeiro e estoque<br />
                        em tempo real
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <h1 class="bordered">
                Precisa de outra solução de gestão?
            </h1>
            <h2>
                Conte-nos um pouco sobre isso.
            </h2>
            <a href="mailto:atentimento@gestaoaju.com.br" class="as-button bordered midnight-blue">
                atentimento@gestaoaju.com.br
            </a>
        </div>
    </div>
    <div class="pricing">
        <div class="container">
            <h1 class="bordered">
                Planos e preços
            </h1>
            <div class="grid-row">
                <div class="grid-col small-4 medium-4 large-4">
                    <h2 class="text-green-sea">
                        Pessoal
                    </h2>
                    <strong>
                        Gratuito
                    </strong>
                    <p>
                        <i class="fa fa-user"></i>
                        1 usuário
                    </p>
                    <p>
                        <i class="fa fa-home"></i>
                        Sem suporte a filiais
                    </p>
                    <p>
                        <i class="fa fa-desktop"></i>
                        Relatórios em tela
                    </p>
                    <p>
                        <i class="fa fa-ticket"></i>
                        Suporte via ticket
                    </p>
                    <a href="/" class="as-button large alizarin">
                        Assinar
                    </a>
                </div>
                <div class="grid-col small-4 medium-4 large-4">
                    <h2 class="text-green-sea">
                        Profissional
                    </h2>
                    <strong>
                        R$19 por usuário
                    </strong>
                    <p>
                        <i class="fa fa-users"></i>
                        Usuários ilimitados
                    </p>
                    <p>
                        <i class="fa fa-building"></i>
                        Filiais ilimitadas
                    </p>
                    <p>
                        <i class="fa fa-desktop"></i>
                        Relatórios em tela
                    </p>
                    <p>
                        <i class="fa fa-print"></i>
                        Relatórios impressos
                    </p>
                    <p>
                        <i class="fa fa-pie-chart"></i>
                        Gráficos estatísticos
                    </p>
                    <p>
                        <i class="fa fa-ticket"></i>
                        Suporte via ticket
                    </p>
                    <a href="/" class="as-button large alizarin">
                        Assinar
                    </a>
                </div>
                <div class="grid-col small-4 medium-4 large-4">
                    <h2 class="text-green-sea">
                        Empresarial
                    </h2>
                    <strong>
                        Preço sob demanda
                    </strong>
                    <p>
                        <i class="fa fa-users"></i>
                        Usuários ilimitados
                    </p>
                    <p>
                        <i class="fa fa-building"></i>
                        Filiais ilimitadas
                    </p>
                    <p>
                        <i class="fa fa-desktop"></i>
                        Relatórios em tela
                    </p>
                    <p>
                        <i class="fa fa-print"></i>
                        Relatórios impressos
                    </p>
                    <p>
                        <i class="fa fa-pie-chart"></i>
                        Gráficos estatísticos
                    </p>
                    <p>
                        <i class="fa fa-ticket"></i>
                        Suporte via ticket
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        Suporte via telefone
                    </p>
                    <p>
                        <i class="fa fa-server"></i>
                        Servidor dedicado
                    </p>
                    <a href="/" class="as-button large alizarin">
                        Entrar em contato
                    </a>
                </div>
            </div>
            <div class="note">
                Os valores dos planos são cobrados mensalmente.
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <h3 class="bordered">
                <strong>gestaoaju</strong>
            </h3>
            <a href="">Termos de uso</a> | <a href="">Políticas de privacidade</a>
            <p>
                Copyright &copy; gestaoaju.com.br - Todos os direitos reservados.<br />
                CNPJ: 24.881.517/0001­-03 - Aracaju/SE
            </p>
        </div>
    </div>
</div>
