@*
    Copyright (c) gestaoaju.com.br - All rights reserved.
    Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
*@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="app">
    <div class="app-body">
        <div class="wrapper">
            <button type="button" class="sidebar-toggle">
                <i class="fa fa-bars"></i>
            </button>
            <div class="app-sidebar">
                <a href="javascript:;" class="user-profile">
                    <img src="/img/user.png">
                    <div>Marx J. Moura</div>
                </a>

                <div class="separator"></div>

                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-barcode"></i>
                    Catálogo
                </a>
                <div class="menu-item">
                    <i class="fa fa-shopping-cart"></i>
                    Comercial
                </div>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-truck"></i>
                    Estoque
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-bar-chart"></i>
                    Financeiro
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-pie-chart"></i>
                    Gráficos
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-users"></i>
                    Usuários
                </a>

                <div class="separator"></div>

                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-cog"></i>
                    Configurações
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-ticket"></i>
                    Suporte técnico
                </a>

                <div class="separator"></div>

                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-power-off"></i>
                    Sair
                </a>
            </div>
            <div class="app-content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
