@*
    Copyright (c) gestaoaju.com.br - All rights reserved.
    Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
*@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="app">
    <div class="app-header">
        <button type="button">
            <i class="fa fa-bars"></i>
        </button>
        <span>
            gestaoaju
        </span>
    </div>
    <div class="app-body">
        <div class="wrapper">
            <div class="app-nav">
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-barcode"></i>
                    Catálogo
                </a>
                <div class="menu-item">
                    <i class="fa fa-shopping-cart"></i>
                    Comercial
                </div>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-truck"></i>
                    Estoque
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-bar-chart"></i>
                    Financeiro
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-pie-chart"></i>
                    Gráficos
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-users"></i>
                    Usuários
                </a>
                <div class="separator"></div>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-cog"></i>
                    Configurações
                </a>
                <a href="javascript:;" class="menu-item">
                    <i class="fa fa-ticket"></i>
                    Suporte técnico
                </a>
            </div>
            <div class="app-content">
                Conteúdo da página <strong>Comercial</strong>
            </div>
        </div>
    </div>
</div>
