@*
 * Copyright (c) gestaoaju.com.br - All rights reserved.
 * Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
 *@

@{ Layout = "~/Views/Shared/_AppLayout.cshtml"; }

@section scripts
{
    <script type="text/javascript" src="/js/overview.min.js" asp-append-version="true"></script>
}

<div class="page-title">
    Título da página
</div>

<div class="page-content">
    Conteúdo da página <strong>Comercial</strong>
</div>
