@*
    Copyright (c) gestaoaju.com.br - All rights reserved.
    Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
*@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section scripts
{
    <script type="text/javascript" src="/js/signup.min.js" asp-append-version="true"></script>
}

<div id="signup" class="sign-form">
    <app-message :visible="errors !== null" :mode="'danger'">
        <div class="group">
            <div v-for="error in errors">{{error}}</div>
        </div>
        <button type="button" class="small outline" v-on:click="tryAgain()">
            Tentar novamente
        </button>
    </app-message>

    <app-message :visible="invalid" :mode="'danger'">
        <div class="group">
            Por favor informe todos os campos corretamente.
        </div>
        <button type="button" class="small outline" v-on:click="tryAgain()">
            Entendi
        </button>
    </app-message>

    <div class="container">
        <div class="card">
            <div class="group text-center">
                <a href="/">
                    <img src="/img/logo.png" alt="gestaoaju" asp-append-version="true" />
                </a>
            </div>
            <a href="/" class="as-button block bordered facebook">
                Cadastrar com meu facebook
            </a>
            <div class="or-line">
                <span>ou</span>
            </div>
            <p>
                Cadastrar com meu e-mail:
            </p>
            <form v-on:submit.prevent="signup()">
                <div class="group">
                    <input type="text" v-model="name" maxlength="80" placeholder="Nome"
                        :disabled="loading" autofocus />
                </div>
                <div class="group">
                    <input type="text" v-model="username" maxlength="80" placeholder="E-mail"
                        :disabled="loading" autofocus />
                </div>
                <div class="group">
                    <input type="password" v-model="password" maxlength="20"
                        placeholder="Senha (mínimo 8)" :disabled="loading">
                </div>
                <p>
                    Ao se cadastrar você concorda com os
                    <a href="/terms">Termos de uso</a> e
                    <a href="/privacy">Políticas de privacidade</a>.
                </p>
                <div class="group">
                    <button type="submit" class="block shadow large sun-flower" :disabled="loading">
                        <span v-show="!loading">Cadastrar</span>
                        <span class="loading small" v-show="loading"></span>
                    </button>
                </div>
            </form>
            <p>
                Já possui uma conta?
                <a href="/signin">
                    Acessar conta
                </a>
            </p>
        </div>
    </div>
</div>
