@*
    Copyright (c) gestaoaju.com.br - All rights reserved.
    Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
*@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="signin" class="sign-form">
    <app-message :visible="errors !== null" :mode="'danger'">
        <div class="group">
            <div v-for="error in errors">{{error}}</div>
        </div>
        <button type="button" class="small outline" v-on:click="tryAgain()">
            Tentar novamente
        </button>
    </app-message>

    <app-message :visible="invalid" :mode="'danger'">
        <div class="group">
            Para prosseguir você deve informar seu e-mail e senha corretamente.
        </div>
        <button type="button" class="small outline" v-on:click="tryAgain()">
            Entendi
        </button>
    </app-message>

    <div class="container">
        <div class="card">
            <div class="group text-center">
                <a href="/">
                    <img src="/img/logo.png" alt="gestaoaju" asp-append-version="true" />
                </a>
            </div>
            <a href="/" class="as-button block bordered facebook">
                Entrar com meu facebook
            </a>
            <div class="or-line">
                <span>ou</span>
            </div>
            <p>
                Entrar com meu e-mail:
            </p>
            <form v-on:submit.prevent="signin()">
                <div class="group">
                    <input type="text" v-model="username" maxlength="80" placeholder="E-mail"
                        :disabled="loading" autofocus />
                </div>
                <div class="group">
                    <input type="password" v-model="password" maxlength="20" placeholder="Senha"
                        :disabled="loading">
                    <a href="/forgot-password" class="font-11">
                        Esqueci minha senha
                    </a>
                </div>
                <div class="group">
                    <button type="submit" class="block shadow large sun-flower" :disabled="loading">
                        <span v-show="!loading">Entrar</span>
                        <span class="loading small" v-show="loading"></span>
                    </button>
                </div>
                <p>
                    Não possui uma conta?
                    <a href="/signup">
                        Criar conta
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/js/signin.min.js" asp-append-version="true"></script>
}
