@*
 * Copyright (c) gestaoaju.com.br - All rights reserved.
 * Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
 *@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="error">
    <div class="container">
        <p class="error-code">
            404
        </p>
        <p>
            Ops! Não encontramos a página que você está procurando. :(
        </p>
        <a href="/" class="as-button bordered belize-hole">
            Voltar para página principal
        </a>
    </div>
</div>
