@*
    Copyright (c) gestaoaju.com.br - All rights reserved.
    Licensed under MIT (https://github.com/gestaoaju/commerce/blob/master/LICENSE).
*@

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="sign-form">
    <div class="container">
        <div class="card">
            <div class="group text-center">
                <a href="/">
                    <img src="/img/logo.png" alt="gestaoaju" />
                </a>
            </div>
            <a href="/" class="as-button block bordered facebook">
                Entrar com o facebook
            </a>
            <div class="or-line">
                <span>ou</span>
            </div>
            <p>
                Cadastrar uma conta no gestaoaju:
            </p>
            <div class="group">
                <input type="text" placeholder="Nome" />
            </div>
            <div class="group">
                <input type="text" placeholder="E-mail" />
            </div>
            <div class="group">
                <input type="password" placeholder="Senha" />
            </div>
            <p>
                Ao se cadastrar você concorda com os
                <a href="/terms">Termos de uso</a> e
                <a href="/privacy">Políticas de privacidade</a>.
            </p>
            <div class="group">
                <button type="button" class="block shadow large sun-flower">
                    Cadastrar
                </button>
            </div>
            <p>
                Já possui uma conta?
                <a href="/signin">
                    Acessar conta
                </a>
            </p>
        </div>
    </div>
</div>
